body{
    background-image: url("image/black_goku.gif");
     background-repeat: no-repeat;
     background-size: cover;
}
h1{
    color: red;
    font-size: 490%;
    text-align: center
}
p{
    color: green;
    font-size: 190%;
    text-align: center;
    font-weight: bolder;
}
ul{
    color: red;
    font-size: 495%;
    
}
li{
    list-style-type: none;
     text-align: center;
    text-decoration: none;
    height:100px;
  line-height: 80px;
  white-space: nowrap;
  background-color: yellow;
   display: block;
}
button{
     cursor:  Pointer;
    background-color:blue;
  border: blue;
  margin: 16px 17px;
  text-align: center;
  font-size: 50px;
  padding: 70px 60px;
  color:red;
  border-radius: 20px;
  transition-duration: 0.08s;
}
.d:hover{
    background-color:blue;
    color:red;
}
li:hover{
  background-color:red;
  color: blue;
}
.apple:hover{
    color: red;
}
.d{
    color:red;
}
